@import "../common/common";

.room-code {
  display: inline-flex;
  margin: 0;
  align-content: center;
  &__label {
    line-height: 0;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }
  &__code {
    font-weight: 400;
    line-height: 0;
    padding-right: 0.25rem;
  }
}

.players {
  width: 100%;
  max-height: 170px;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &__name {
    line-height: 0.2;
    padding-left: 0.25rem;
    padding-right: 0.5rem;
  }
  &__score {
    font-weight: 400;
    line-height: 0.2;
    padding-right: 0.25rem;
  }
  &__player {
    width: 40%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px $border-color solid;
    margin: 0.25rem;
    &--current-turn {
      border: 4px $border-color solid;
    }
  }
}

.game-board {
  display: flex;
  flex-direction: column;

  &__board {
    flex-grow: 1;
    width: 100%;
    height: auto;
  }
  &__your-tiles {
    display: inline-flex;
  }
  &__tile {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px black solid;
    border-radius: 10%;
  }
  &__your-tiles-label {
    line-height: 0;
    margin: 0.7rem;
  }
}

.game-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $base-color;
  color: $logo-color;
  width: 100%;
  height: 3.2rem;
  position: fixed;
  bottom: 0;
  &__your-score {
    margin-left: $head-margins;
  }
  &__button {
    height: 2rem;
    background-color: $logo-color;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    border-radius: 0.5rem;
    margin-right: $head-margins;
  }
}
