$base-color: #404040;
$logo-color: white;
$button-color: lightgray;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
  height: 100vh;
}

.header {
  background-color: $base-color;
  display: flex;
  width: 100%;
  height: 3.2rem;
  margin: 0;

  &__logo {
    color: $logo-color;
    font-weight: 700;
    font-style: italic;
    margin-left: 10px;
  }
}

.home-footer {
  background-color: $base-color;
  width: 100%;
  height: 3.2rem;
  position: fixed;
  bottom: 0;
}

.enter-game {
  margin: 5% 5%;
  max-width: 410px;

  &__description {
    font-size: 1.2rem;
  }

  &__label {
    font-size: 1.2rem;
  }

  &__button {
    font-size: 1.4rem;
    margin-top: 2rem;
    background-color: $button-color;
    border-radius: 0.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 325px;
  }

  &__input-row:not(:first-of-type) {
    margin-top: 1rem;
  }
}
